/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/
/vendor/bundle
*.gem
*.rbc
.DS_Store
.env
.env.*
!.env.example
Gemfile.lock
.idea/
.vscode/
*.swp
*~
.ruby-version
.ruby-gemset
/rdoc/
ext/chimera_core/target/
**/Cargo.lock
